<%= provide(:title, 'Admin Panel | Edit User') %>

	<div id="adminqueue">
		<div>
			<h2><%= @output %></h2>

			<br>
			<a href="javascript:history.go(-1)" class="wcbutton">Go Back</a> 
			<br>
			<br>
			<%= @debug %>
		</div>
	</div>