<%= provide(:title, 'Admin Panel | Directory') %>
	<div id="adminqueue">
		<div>
			<h2>Users</h2>
			<p class="line2">You can search for users to edit content, ban user, or announce the user has passed away.</p>
		</div>
		<div class="all_alumni">
			<h3>All Alumni</h3>
			<ul>
				<li>All</li>
				<li>A</li>
				<li>B</li>
				<li>C</li>
				<li>D</li>
				<li>E</li>
				<li>F</li>
				<li>G</li>
				<li>H</li>
				<li>I</li>
				<li>J</li>
				<li>K</li>
				<li>L</li>
				<li>M</li>
				<li>N</li>
				<li>O</li>
				<li>P</li>
				<li>Q</li>
				<li>R</li>
				<li>S</li>
				<li>T</li>
				<li>U</li>
				<li>V</li>
				<li>W</li>
				<li>X</li>
				<li>Y</li>
				<li>Z</li>
			</ul>
		</div>
		<div id="searchresults">
		<h3>Showing 1 - 25 of 156</h3>
		<div class="next_pages">
			<a href="">Previous Page</a> | <a href="" class="second">Next Page</a>
		</div>
			<div class="searched">
					<div class="searched_img">
						<img src="../assets/profile_picture.jpg" alt="profile_picture" width="55" height="54" />
					</div>
					<div class="searched_info">
						<h3>Jon B. Doe</h3>
						<p>Jon Doe Designs</p>
						<p>Class Year 1999</p>
					</div>
					<div class="searched_options">
						<ul>
						<li><a href="" class="wcbutton">Edit Content</a></li>
						<li><a href="" class="wcbutton">User Passed Away</a> </li>
						<li><a href="" class="wcbutton">Ban User</a></li>
						</ul>
					</div>
			</div> <!--div searched closed -->
			
			<div class="searched">
					<div class="searched_img">
						<img src="../assets/profile_picture.jpg" alt="profile_picture" width="55" height="54" />
					</div>
					<div class="searched_info">
						<h3>Jon B. Doe</h3>
						<p>Jon Doe Designs</p>
						<p>Class Year 1999</p>
					</div>
					<div class="searched_options">
						<ul>
						<li><a href="" class="wcbutton">Edit Content</a></li>
						<li><a href="" class="wcbutton">User Passed Away</a> </li>
						<li><a href="" class="wcbutton">Ban User</a></li>
						</ul>
					</div>
			</div> <!--div searched closed -->
			
			<div class="searched">
					<div class="searched_img">
						<img src="../assets/profile_picture.jpg" alt="profile_picture" width="55" height="54" />
					</div>
					<div class="searched_info">
						<h3>Jon B. Doe</h3>
						<p>Jon Doe Designs</p>
						<p>Class Year 1999</p>
					</div>
					<div class="searched_options">
						<ul>
						<li><a href="" class="wcbutton">Edit Content</a></li>
						<li><a href="" class="wcbutton">User Passed Away</a> </li>
						<li><a href="" class="wcbutton">Ban User</a></li>
						</ul>
					</div>
			</div> <!--div searched closed -->
			
			<div class="searched">
					<div class="searched_img">
						<img src="../assets/profile_picture.jpg" alt="profile_picture" width="55" height="54" />
					</div>
					<div class="searched_info">
						<h3>Jon B. Doe</h3>
						<p>Jon Doe Designs</p>
						<p>Class Year 1999</p>
					</div>
					<div class="searched_options">
						<ul>
						<li><a href="" class="wcbutton">Edit Content</a></li>
						<li><a href="" class="wcbutton">User Passed Away</a> </li>
						<li><a href="" class="wcbutton">Ban User</a></li>
						</ul>
					</div>
			</div> <!--div searched closed -->
			<div class="searched">
					<div class="searched_img">
						<img src="../assets/profile_picture.jpg" alt="profile_picture" width="55" height="54" />
					</div>
					<div class="searched_info">
						<h3>Jon B. Doe</h3>
						<p>Jon Doe Designs</p>
						<p>Class Year 1999</p>
					</div>
					<div class="searched_options">
						<ul>
						<li><a href="" class="wcbutton">Edit Content</a></li>
						<li><a href="" class="wcbutton">User Passed Away</a> </li>
						<li><a href="" class="wcbutton">Ban User</a></li>
						</ul>
					</div>
			</div> <!--div searched closed -->
			<div class="searched">
					<div class="searched_img">
						<img src="../assets/profile_picture.jpg" alt="profile_picture" width="55" height="54" />
					</div>
					<div class="searched_info">
						<h3>Jon B. Doe</h3>
						<p>Jon Doe Designs</p>
						<p>Class Year 1999</p>
					</div>
					<div class="searched_options">
						<ul>
						<li><a href="" class="wcbutton">Edit Content</a></li>
						<li><a href="" class="wcbutton">User Passed Away</a> </li>
						<li><a href="" class="wcbutton">Ban User</a></li>
						</ul>
					</div>
			</div> <!--div searched closed -->
			<div class="searched">
					<div class="searched_img">
						<img src="../assets/profile_picture.jpg" alt="profile_picture" width="55" height="54" />
					</div>
					<div class="searched_info">
						<h3>Jon B. Doe</h3>
						<p>Jon Doe Designs</p>
						<p>Class Year 1999</p>
					</div>
					<div class="searched_options">
						<ul>
						<li><a href="" class="wcbutton">Edit Content</a></li>
						<li><a href="" class="wcbutton">User Passed Away</a> </li>
						<li><a href="" class="wcbutton">Ban User</a></li>
						</ul>
					</div>
			</div> <!--div searched closed -->
			<div class="searched">
					<div class="searched_img">
						<img src="../assets/profile_picture.jpg" alt="profile_picture" width="55" height="54" />
					</div>
					<div class="searched_info">
						<h3>Jon B. Doe</h3>
						<p>Jon Doe Designs</p>
						<p>Class Year 1999</p>
					</div>
					<div class="searched_options">
						<ul>
						<li><a href="" class="wcbutton">Edit Content</a></li>
						<li><a href="" class="wcbutton">User Passed Away</a> </li>
						<li><a href="" class="wcbutton">Ban User</a></li>
						</ul>
					</div>
			</div> <!--div searched closed -->
			<div class="searched">
					<div class="searched_img">
						<img src="../assets/profile_picture.jpg" alt="profile_picture" width="55" height="54" />
					</div>
					<div class="searched_info">
						<h3>Jon B. Doe</h3>
						<p>Jon Doe Designs</p>
						<p>Class Year 1999</p>
					</div>
					<div class="searched_options">
						<ul>
						<li><a href="" class="wcbutton">Edit Content</a></li>
						<li><a href="" class="wcbutton">User Passed Away</a> </li>
						<li><a href="" class="wcbutton">Ban User</a></li>
						</ul>
					</div>
			</div> <!--div searched closed -->
			<div class="searched">
					<div class="searched_img">
						<img src="../assets/profile_picture.jpg" alt="profile_picture" width="55" height="54" />
					</div>
					<div class="searched_info">
						<h3>Jon B. Doe</h3>
						<p>Jon Doe Designs</p>
						<p>Class Year 1999</p>
					</div>
					<div class="searched_options">
						<ul>
						<li><a href="" class="wcbutton">Edit Content</a></li>
						<li><a href="" class="wcbutton">User Passed Away</a> </li>
						<li><a href="" class="wcbutton">Ban User</a></li>
						</ul>
					</div>
			</div> <!--div searched closed -->
			<div class="searched">
					<div class="searched_img">
						<img src="../assets/profile_picture.jpg" alt="profile_picture" width="55" height="54" />
					</div>
					<div class="searched_info">
						<h3>Jon B. Doe</h3>
						<p>Jon Doe Designs</p>
						<p>Class Year 1999</p>
					</div>
					<div class="searched_options">
						<ul>
						<li><a href="" class="wcbutton">Edit Content</a></li>
						<li><a href="" class="wcbutton">User Passed Away</a> </li>
						<li><a href="" class="wcbutton">Ban User</a></li>
						</ul>
					</div>
			</div> <!--div searched closed -->
			<div class="searched">
					<div class="searched_img">
						<img src="../assets/profile_picture.jpg" alt="profile_picture" width="55" height="54" />
					</div>
					<div class="searched_info">
						<h3>Jon B. Doe</h3>
						<p>Jon Doe Designs</p>
						<p>Class Year 1999</p>
					</div>
					<div class="searched_options">
						<ul>
						<li><a href="" class="wcbutton">Edit Content</a></li>
						<li><a href="" class="wcbutton">User Passed Away</a> </li>
						<li><a href="" class="wcbutton">Ban User</a></li>
						</ul>
					</div>
			</div> <!--div searched closed -->
			<div class="searched">
					<div class="searched_img">
						<img src="../assets/profile_picture.jpg" alt="profile_picture" width="55" height="54" />
					</div>
					<div class="searched_info">
						<h3>Jon B. Doe</h3>
						<p>Jon Doe Designs</p>
						<p>Class Year 1999</p>
					</div>
					<div class="searched_options">
						<ul>
						<li><a href="" class="wcbutton">Edit Content</a></li>
						<li><a href="" class="wcbutton">User Passed Away</a> </li>
						<li><a href="" class="wcbutton">Ban User</a></li>
						</ul>
					</div>
			</div> <!--div searched closed -->
			<div class="searched">
					<div class="searched_img">
						<img src="../assets/profile_picture.jpg" alt="profile_picture" width="55" height="54" />
					</div>
					<div class="searched_info">
						<h3>Jon B. Doe</h3>
						<p>Jon Doe Designs</p>
						<p>Class Year 1999</p>
					</div>
					<div class="searched_options">
						<ul>
						<li><a href="" class="wcbutton">Edit Content</a></li>
						<li><a href="" class="wcbutton">User Passed Away</a> </li>
						<li><a href="" class="wcbutton">Ban User</a></li>
						</ul>
					</div>
			</div> <!--div searched closed -->
			<div class="searched">
					<div class="searched_img">
						<img src="../assets/profile_picture.jpg" alt="profile_picture" width="55" height="54" />
					</div>
					<div class="searched_info">
						<h3>Jon B. Doe</h3>
						<p>Jon Doe Designs</p>
						<p>Class Year 1999</p>
					</div>
					<div class="searched_options">
						<ul>
						<li><a href="" class="wcbutton">Edit Content</a></li>
						<li><a href="" class="wcbutton">User Passed Away</a> </li>
						<li><a href="" class="wcbutton">Ban User</a></li>
						</ul>
					</div>
			</div> <!--div searched closed -->
			<div class="searched">
					<div class="searched_img">
						<img src="../assets/profile_picture.jpg" alt="profile_picture" width="55" height="54" />
					</div>
					<div class="searched_info">
						<h3>Jon B. Doe</h3>
						<p>Jon Doe Designs</p>
						<p>Class Year 1999</p>
					</div>
					<div class="searched_options">
						<ul>
						<li><a href="" class="wcbutton">Edit Content</a></li>
						<li><a href="" class="wcbutton">User Passed Away</a> </li>
						<li><a href="" class="wcbutton">Ban User</a></li>
						</ul>
					</div>
			</div> <!--div searched closed -->
			<div class="searched">
					<div class="searched_img">
						<img src="../assets/profile_picture.jpg" alt="profile_picture" width="55" height="54" />
					</div>
					<div class="searched_info">
						<h3>Jon B. Doe</h3>
						<p>Jon Doe Designs</p>
						<p>Class Year 1999</p>
					</div>
					<div class="searched_options">
						<ul>
						<li><a href="" class="wcbutton">Edit Content</a></li>
						<li><a href="" class="wcbutton">User Passed Away</a> </li>
						<li><a href="" class="wcbutton">Ban User</a></li>
						</ul>
					</div>
			</div> <!--div searched closed -->
			<div class="searched">
					<div class="searched_img">
						<img src="../assets/profile_picture.jpg" alt="profile_picture" width="55" height="54" />
					</div>
					<div class="searched_info">
						<h3>Jon B. Doe</h3>
						<p>Jon Doe Designs</p>
						<p>Class Year 1999</p>
					</div>
					<div class="searched_options">
						<ul>
						<li><a href="" class="wcbutton">Edit Content</a></li>
						<li><a href="" class="wcbutton">User Passed Away</a> </li>
						<li><a href="" class="wcbutton">Ban User</a></li>
						</ul>
					</div>
			</div> <!--div searched closed -->
		<div class="next_pages">
			<a href="">Previous Page</a> | <a href="" class="second">Next Page</a>
		</div>	
		</div><!-- div searchresults closed -->
	</div><!-- div adminqueue closed -->