<%= provide(:title, 'Admin Panel | Directory') %>
	<div id="adminqueue">
		<div>
			<h2>Users</h2>
			<p class="line2">You can search for users to edit content, ban user, or announce the user has passed away.</p>
		</div>
		<div class="all_alumni">
			<h3><%= @results %></h3>
			<ul>
				<%= @links.html_safe %>
			</ul>
		</div>
		<div id="searchresults">
		<h3>Showing 1 - 25 of 156</h3>
		<div class="next_pages">
			<a href="">Previous Page</a> | <a href="" class="second">Next Page</a>
		</div>
			
			<%= @results_str.html_safe %>

		<div class="next_pages">
			<a href="">Previous Page</a> | <a href="" class="second">Next Page</a>
		</div>	
		</div><!-- div searchresults closed -->
	</div><!-- div adminqueue closed -->