<!DOCTYPE html>
<html>
<body>

<!-- START HEADER SECTION -->
	<div id="header">
		<div id="top_nav">
			<div class="wrapper">
				<!--<div id="choice">
					<ul>
						<li><span>5</span>Jobs</li>
						<li><span>3</span>Notifications</li>
						<li><img src="../assets/circle.png" alt="circle" width="16" height="16" />Profile</li>
					</ul>
				</div> --><!-- div choice closed -->
				<div id="name">
					<h1><img src="../assets/circle.png" alt="circle" width="16" height="16" />Jon B. Doe</h1>
				</div> <!-- div name closed -->
			</div> <!-- CLOSE WRAPPER -->
		</div> <!-- div top_nav closed -->
		
		<div id="bottom_nav" >
			<div class="wrapper">
				<div id="logo">
					<img src="../assets/logo_auth.png" alt="Westmont Connect Logo Image" />
				</div> <!-- div logo closed -->
							</div> <!-- CLOSE WRAPPER -->
		</div> <!-- div bottom_nav closed -->
	</div> <!-- div header closed -->
	
<!-- END HEADER SECTION -->
<!-- START MAIN CONTENT  -->
<div id="content">
	<div id="queue_nav">
		<ul>
			<li><a href="">Queue</a></li>
			<li><a href="">Users</a></li>
			<li><a href="">Newsletters</a></li>
		</ul>	
	</div><!-- div queue closed-->
	<div id="adminqueue">
		<div>
			<h2>Users</h2>
			<p class="line2">You can search for users to edit content, ban user, or announce the user has passed away.</p>
		</div>
		<div class="all_alumni">
			<h3>All Alumni</h3>
			<ul>
				<li>All</li>
				<li>A</li>
				<li>B</li>
				<li>C</li>
				<li>D</li>
				<li>E</li>
				<li>F</li>
				<li>G</li>
				<li>H</li>
				<li>I</li>
				<li>J</li>
				<li>K</li>
				<li>L</li>
				<li>M</li>
				<li>N</li>
				<li>O</li>
				<li>P</li>
				<li>Q</li>
				<li>R</li>
				<li>S</li>
				<li>T</li>
				<li>U</li>
				<li>V</li>
				<li>W</li>
				<li>X</li>
				<li>Y</li>
				<li>Z</li>
			</ul>
		</div>
		<div id="searchresults">
		<h3>Showing 1 - 25 of 156</h3>
		<div class="next_pages">
			<a href="">Previous Page</a> | <a href="" class="second">Next Page</a>
		</div>
			<div class="searched">
					<div class="searched_img">
						<img src="../assets/profile_picture.jpg" alt="profile_picture" width="55" height="54" />
					</div>
					<div class="searched_info">
						<h3>Jon B. Doe</h3>
						<p>Jon Doe Designs</p>
						<p>Class Year 1999</p>
					</div>
					<div class="searched_options">
						<ul>
						<li><a href="" class="wcbutton">Edit Content</a></li>
						<li><a href="" class="wcbutton">User Passed Away</a> </li>
						<li><a href="" class="wcbutton">Ban User</a></li>
						</ul>
					</div>
			</div> <!--div searched closed -->
			
			<div class="searched">
					<div class="searched_img">
						<img src="../assets/profile_picture.jpg" alt="profile_picture" width="55" height="54" />
					</div>
					<div class="searched_info">
						<h3>Jon B. Doe</h3>
						<p>Jon Doe Designs</p>
						<p>Class Year 1999</p>
					</div>
					<div class="searched_options">
						<ul>
						<li><a href="" class="wcbutton">Edit Content</a></li>
						<li><a href="" class="wcbutton">User Passed Away</a> </li>
						<li><a href="" class="wcbutton">Ban User</a></li>
						</ul>
					</div>
			</div> <!--div searched closed -->
			
			<div class="searched">
					<div class="searched_img">
						<img src="../assets/profile_picture.jpg" alt="profile_picture" width="55" height="54" />
					</div>
					<div class="searched_info">
						<h3>Jon B. Doe</h3>
						<p>Jon Doe Designs</p>
						<p>Class Year 1999</p>
					</div>
					<div class="searched_options">
						<ul>
						<li><a href="" class="wcbutton">Edit Content</a></li>
						<li><a href="" class="wcbutton">User Passed Away</a> </li>
						<li><a href="" class="wcbutton">Ban User</a></li>
						</ul>
					</div>
			</div> <!--div searched closed -->
			
			<div class="searched">
					<div class="searched_img">
						<img src="../assets/profile_picture.jpg" alt="profile_picture" width="55" height="54" />
					</div>
					<div class="searched_info">
						<h3>Jon B. Doe</h3>
						<p>Jon Doe Designs</p>
						<p>Class Year 1999</p>
					</div>
					<div class="searched_options">
						<ul>
						<li><a href="" class="wcbutton">Edit Content</a></li>
						<li><a href="" class="wcbutton">User Passed Away</a> </li>
						<li><a href="" class="wcbutton">Ban User</a></li>
						</ul>
					</div>
			</div> <!--div searched closed -->
			<div class="searched">
					<div class="searched_img">
						<img src="../assets/profile_picture.jpg" alt="profile_picture" width="55" height="54" />
					</div>
					<div class="searched_info">
						<h3>Jon B. Doe</h3>
						<p>Jon Doe Designs</p>
						<p>Class Year 1999</p>
					</div>
					<div class="searched_options">
						<ul>
						<li><a href="" class="wcbutton">Edit Content</a></li>
						<li><a href="" class="wcbutton">User Passed Away</a> </li>
						<li><a href="" class="wcbutton">Ban User</a></li>
						</ul>
					</div>
			</div> <!--div searched closed -->
			<div class="searched">
					<div class="searched_img">
						<img src="../assets/profile_picture.jpg" alt="profile_picture" width="55" height="54" />
					</div>
					<div class="searched_info">
						<h3>Jon B. Doe</h3>
						<p>Jon Doe Designs</p>
						<p>Class Year 1999</p>
					</div>
					<div class="searched_options">
						<ul>
						<li><a href="" class="wcbutton">Edit Content</a></li>
						<li><a href="" class="wcbutton">User Passed Away</a> </li>
						<li><a href="" class="wcbutton">Ban User</a></li>
						</ul>
					</div>
			</div> <!--div searched closed -->
			<div class="searched">
					<div class="searched_img">
						<img src="../assets/profile_picture.jpg" alt="profile_picture" width="55" height="54" />
					</div>
					<div class="searched_info">
						<h3>Jon B. Doe</h3>
						<p>Jon Doe Designs</p>
						<p>Class Year 1999</p>
					</div>
					<div class="searched_options">
						<ul>
						<li><a href="" class="wcbutton">Edit Content</a></li>
						<li><a href="" class="wcbutton">User Passed Away</a> </li>
						<li><a href="" class="wcbutton">Ban User</a></li>
						</ul>
					</div>
			</div> <!--div searched closed -->
			<div class="searched">
					<div class="searched_img">
						<img src="../assets/profile_picture.jpg" alt="profile_picture" width="55" height="54" />
					</div>
					<div class="searched_info">
						<h3>Jon B. Doe</h3>
						<p>Jon Doe Designs</p>
						<p>Class Year 1999</p>
					</div>
					<div class="searched_options">
						<ul>
						<li><a href="" class="wcbutton">Edit Content</a></li>
						<li><a href="" class="wcbutton">User Passed Away</a> </li>
						<li><a href="" class="wcbutton">Ban User</a></li>
						</ul>
					</div>
			</div> <!--div searched closed -->
			<div class="searched">
					<div class="searched_img">
						<img src="../assets/profile_picture.jpg" alt="profile_picture" width="55" height="54" />
					</div>
					<div class="searched_info">
						<h3>Jon B. Doe</h3>
						<p>Jon Doe Designs</p>
						<p>Class Year 1999</p>
					</div>
					<div class="searched_options">
						<ul>
						<li><a href="" class="wcbutton">Edit Content</a></li>
						<li><a href="" class="wcbutton">User Passed Away</a> </li>
						<li><a href="" class="wcbutton">Ban User</a></li>
						</ul>
					</div>
			</div> <!--div searched closed -->
			<div class="searched">
					<div class="searched_img">
						<img src="../assets/profile_picture.jpg" alt="profile_picture" width="55" height="54" />
					</div>
					<div class="searched_info">
						<h3>Jon B. Doe</h3>
						<p>Jon Doe Designs</p>
						<p>Class Year 1999</p>
					</div>
					<div class="searched_options">
						<ul>
						<li><a href="" class="wcbutton">Edit Content</a></li>
						<li><a href="" class="wcbutton">User Passed Away</a> </li>
						<li><a href="" class="wcbutton">Ban User</a></li>
						</ul>
					</div>
			</div> <!--div searched closed -->
			<div class="searched">
					<div class="searched_img">
						<img src="../assets/profile_picture.jpg" alt="profile_picture" width="55" height="54" />
					</div>
					<div class="searched_info">
						<h3>Jon B. Doe</h3>
						<p>Jon Doe Designs</p>
						<p>Class Year 1999</p>
					</div>
					<div class="searched_options">
						<ul>
						<li><a href="" class="wcbutton">Edit Content</a></li>
						<li><a href="" class="wcbutton">User Passed Away</a> </li>
						<li><a href="" class="wcbutton">Ban User</a></li>
						</ul>
					</div>
			</div> <!--div searched closed -->
			<div class="searched">
					<div class="searched_img">
						<img src="../assets/profile_picture.jpg" alt="profile_picture" width="55" height="54" />
					</div>
					<div class="searched_info">
						<h3>Jon B. Doe</h3>
						<p>Jon Doe Designs</p>
						<p>Class Year 1999</p>
					</div>
					<div class="searched_options">
						<ul>
						<li><a href="" class="wcbutton">Edit Content</a></li>
						<li><a href="" class="wcbutton">User Passed Away</a> </li>
						<li><a href="" class="wcbutton">Ban User</a></li>
						</ul>
					</div>
			</div> <!--div searched closed -->
			<div class="searched">
					<div class="searched_img">
						<img src="../assets/profile_picture.jpg" alt="profile_picture" width="55" height="54" />
					</div>
					<div class="searched_info">
						<h3>Jon B. Doe</h3>
						<p>Jon Doe Designs</p>
						<p>Class Year 1999</p>
					</div>
					<div class="searched_options">
						<ul>
						<li><a href="" class="wcbutton">Edit Content</a></li>
						<li><a href="" class="wcbutton">User Passed Away</a> </li>
						<li><a href="" class="wcbutton">Ban User</a></li>
						</ul>
					</div>
			</div> <!--div searched closed -->
			<div class="searched">
					<div class="searched_img">
						<img src="../assets/profile_picture.jpg" alt="profile_picture" width="55" height="54" />
					</div>
					<div class="searched_info">
						<h3>Jon B. Doe</h3>
						<p>Jon Doe Designs</p>
						<p>Class Year 1999</p>
					</div>
					<div class="searched_options">
						<ul>
						<li><a href="" class="wcbutton">Edit Content</a></li>
						<li><a href="" class="wcbutton">User Passed Away</a> </li>
						<li><a href="" class="wcbutton">Ban User</a></li>
						</ul>
					</div>
			</div> <!--div searched closed -->
			<div class="searched">
					<div class="searched_img">
						<img src="../assets/profile_picture.jpg" alt="profile_picture" width="55" height="54" />
					</div>
					<div class="searched_info">
						<h3>Jon B. Doe</h3>
						<p>Jon Doe Designs</p>
						<p>Class Year 1999</p>
					</div>
					<div class="searched_options">
						<ul>
						<li><a href="" class="wcbutton">Edit Content</a></li>
						<li><a href="" class="wcbutton">User Passed Away</a> </li>
						<li><a href="" class="wcbutton">Ban User</a></li>
						</ul>
					</div>
			</div> <!--div searched closed -->
			<div class="searched">
					<div class="searched_img">
						<img src="../assets/profile_picture.jpg" alt="profile_picture" width="55" height="54" />
					</div>
					<div class="searched_info">
						<h3>Jon B. Doe</h3>
						<p>Jon Doe Designs</p>
						<p>Class Year 1999</p>
					</div>
					<div class="searched_options">
						<ul>
						<li><a href="" class="wcbutton">Edit Content</a></li>
						<li><a href="" class="wcbutton">User Passed Away</a> </li>
						<li><a href="" class="wcbutton">Ban User</a></li>
						</ul>
					</div>
			</div> <!--div searched closed -->
			<div class="searched">
					<div class="searched_img">
						<img src="../assets/profile_picture.jpg" alt="profile_picture" width="55" height="54" />
					</div>
					<div class="searched_info">
						<h3>Jon B. Doe</h3>
						<p>Jon Doe Designs</p>
						<p>Class Year 1999</p>
					</div>
					<div class="searched_options">
						<ul>
						<li><a href="" class="wcbutton">Edit Content</a></li>
						<li><a href="" class="wcbutton">User Passed Away</a> </li>
						<li><a href="" class="wcbutton">Ban User</a></li>
						</ul>
					</div>
			</div> <!--div searched closed -->
			<div class="searched">
					<div class="searched_img">
						<img src="../assets/profile_picture.jpg" alt="profile_picture" width="55" height="54" />
					</div>
					<div class="searched_info">
						<h3>Jon B. Doe</h3>
						<p>Jon Doe Designs</p>
						<p>Class Year 1999</p>
					</div>
					<div class="searched_options">
						<ul>
						<li><a href="" class="wcbutton">Edit Content</a></li>
						<li><a href="" class="wcbutton">User Passed Away</a> </li>
						<li><a href="" class="wcbutton">Ban User</a></li>
						</ul>
					</div>
			</div> <!--div searched closed -->
		<div class="next_pages">
			<a href="">Previous Page</a> | <a href="" class="second">Next Page</a>
		</div>	
		</div><!-- div searchresults closed -->
	</div><!-- div adminqueue closed -->

</div> <!-- div content closed -->
<div id="footer">
	<div class="wrapper">
		<p>Copyright 2011. Westmont College. All rights reserved.</p>
		<ul id="social">
		<li id="linked-in"><a href="http://www.linkedin.com"><span>LinkedIn</span></a></li>
		<li id="facebook"><a href="http://www.facebook.com"><span>Facebook</span></a></li>
		<li id="twitter"><a href="http://www.twitter.com"><span>Twitter</span></a></li>
		<li id="youtube"><a href="http://www.youtube.com"><span>YouTube</span></a></li>
		</ul>
		<p class="right">Contact | Privacy</p>
	</div>
</div>

</body>

</html>