<%= provide(:title, 'Admin Panel | Edit User') %>

	<div id="adminqueue">
		<div>
			<h2>Users</h2>
			<p class="line2">Use this page to modify a user's attributes.</p>
		</div>
		<div id="gi_name">
			<div class="fullname">
				<h4><%= @user[:name] %></h4>
			</div>
			<div id="namechange">
				<a href="#" class="wcbutton">Change Name</a> 
			</div>
		</div>
		<div id="gi_info">
			<p>Major: <span><%= @user[:major] %></span></p>
			<p>Class: <span><%= @user[:year] %></span></p>
			<a href="" class="wcbutton">Go Back</a>
		</div>
		<div id="gi_contact">
			<h2>Contact Information</h2>
			<form>
				<fieldset>
				<h6>Phone Number</h6>
					<ol>
					 <li><label></label><input placeholder="Home: (###) ###-####"> Primary</li>
					 <li><label> </label><input placeholder="Cell: (###) ###-####"><a href="" class="wcbutton">Make Primary</a></li>
					 </ol>
					<p>Add Phone Number</p>
					<ol>
					<li><label></label><input placeholder="Select Home or Cell"> <input placeholder="(###) ###-####"><a href="" class="wcbutton">Add</a></li>
					</ol>
			 </fieldset>
			</form>		
			<form>
				<fieldset>
				<h6>Email Address</h6>
					<ol>
						<li><label></label><input placeholder="Primary email"><a href="" class="wcbutton">Edit</a></li>
						<li><label></label><input placeholder="Secondary email"><a href="" class="wcbutton">Add</a></li>
					</ol>
				</fieldset>	
			</form>
			<form>
				<fieldset>
				<h6>Mailing Address</h6>
					<ol>
						<li><label></label><input placeholder="Street "> </li>
						<li><label></label><input placeholder="City " /> </li>
						<li><label></label><input placeholder="State " /> </li>
						<li><label></label><input placeholder="Zip" /> </li>
						<li><label></label><input placeholder="Country" /><a href="" class="wcbutton"> Edit </a></li>
					</ol>
					<p>Add Address</p>
					<ol>
						<li><label></label><input placeholder="Street "> </li>
						<li><label></label><input placeholder="City" /> </li>
						<li><label></label><input placeholder="State" /> </li>
						<li><label></label><input placeholder="Zip" /> </li>
						<li><label></label><input placeholder="Country" /><a href="" class="wcbutton"> Add </a></li>
					</ol>
				</fieldset>
			</form>
		</div>
		<div id="gi_contact">
			<h2>Professional Information</h2>
		</div>
		<div id="gi_contact">
			<h2>Interests</h2>
		</div>
		<div id="gi_contact">
		<a href="" class="wcbutton">Update</a> <a href="" class="wcbutton">Go Back</a>
		</div>
	</div>