<!DOCTYPE html>
<html>

<body>

<!-- START HEADER SECTION -->
	<div id="header">
		<div id="top_nav">
			<div class="wrapper">
				<!--<div id="choice">
					<ul>
						<li><span>5</span>Jobs</li>
						<li><span>3</span>Notifications</li>
						<li><img src="../assets/circle.png" alt="circle" width="16" height="16" />Profile</li>
					</ul>
				</div> --><!-- div choice closed -->
				<div id="name">
					<h1><img src="../assets/circle.png" alt="circle" width="16" height="16" />Jon B. Doe</h1>
				</div> <!-- div name closed -->
			</div> <!-- CLOSE WRAPPER -->
		</div> <!-- div top_nav closed -->
		
		<div id="bottom_nav" >
			<div class="wrapper">
				<div id="logo">
					<img src="../assets/logo_auth.png" alt="Westmont Connect Logo Image" />
				</div> <!-- div logo closed -->
							</div> <!-- CLOSE WRAPPER -->
		</div> <!-- div bottom_nav closed -->
	</div> <!-- div header closed -->
	
<!-- END HEADER SECTION -->
<!-- START MAIN CONTENT  -->
<div id="content">
	<div id="queue_nav">
		<ul>
			<li><a href="">Queue</a></li>
			<li><a href="">Users</a></li>
			<li><a href="">Newsletters</a></li>
		</ul>	
	</div><!--close notifications-->
	<div id="adminqueue">
		<div>
			<h2>Users</h2>
			<p class="line2">You can search for users to edit content, ban user, or announce the user has passed away.</p>
		</div>
		<div id="gi_name">
			<div class="fullname">
				<h4>Samantha Kathy Hawkins</h4>
			</div>
			<div id="namechange">
				<a href="#" class="wcbutton">Change Name</a> 
			</div>
		</div>
		<div id="gi_info">
			<p>Major: <span>Business Management</span></p>
			<p>Class: <span>2009</span></p>
			<a href="" class="wcbutton">Go Back</a>
		</div>
		<div id="gi_contact">
			<h2>Contact Information</h2>
			<form>
				<fieldset>
				<h6>Phone Number</h6>
					<ol>
					 <li><label></label><input placeholder="Home: (###) ###-####"> Primary</li>
					 <li><label> </label><input placeholder="Cell: (###) ###-####"><a href="" class="wcbutton">Make Primary</a></li>
					 </ol>
					<p>Add Phone Number</p>
					<ol>
					<li><label></label><input placeholder="Select Home or Cell"> <input placeholder="(###) ###-####"><a href="" class="wcbutton">Add</a></li>
					</ol>
			 </fieldset>
			</form>		
			<form>
				<fieldset>
				<h6>Email Address</h6>
					<ol>
						<li><label></label><input placeholder="Primary email"><a href="" class="wcbutton">Edit</a></li>
						<li><label></label><input placeholder="Secondary email"><a href="" class="wcbutton">Add</a></li>
					</ol>
				</fieldset>	
			</form>
			<form>
				<fieldset>
				<h6>Mailing Address</h6>
					<ol>
						<li><label></label><input placeholder="Street "> </li>
						<li><label></label><input placeholder="City " /> </li>
						<li><label></label><input placeholder="State " /> </li>
						<li><label></label><input placeholder="Zip" /> </li>
						<li><label></label><input placeholder="Country" /><a href="" class="wcbutton"> Edit </a></li>
					</ol>
					<p>Add Address</p>
					<ol>
						<li><label></label><input placeholder="Street "> </li>
						<li><label></label><input placeholder="City" /> </li>
						<li><label></label><input placeholder="State" /> </li>
						<li><label></label><input placeholder="Zip" /> </li>
						<li><label></label><input placeholder="Country" /><a href="" class="wcbutton"> Add </a></li>
					</ol>
				</fieldset>
			</form>
		</div>
		<div id="gi_contact">
			<h2>Professional Information</h2>
		</div>
		<div id="gi_contact">
			<h2>Interests</h2>
		</div>
		<div id="gi_contact">
		<a href="" class="wcbutton">Update</a> <a href="" class="wcbutton">Go Back</a>
		</div>
	</div><!-- div adminqueue close -->
</div> <!-- div content closed -->
<div id="footer">
	<div class="wrapper">
		<p>Copyright 2011. Westmont College. All rights reserved.</p>
		<ul id="social">
		<li id="linked-in"><a href="http://www.linkedin.com"><span>LinkedIn</span></a></li>
		<li id="facebook"><a href="http://www.facebook.com"><span>Facebook</span></a></li>
		<li id="twitter"><a href="http://www.twitter.com"><span>Twitter</span></a></li>
		<li id="youtube"><a href="http://www.youtube.com"><span>YouTube</span></a></li>
		</ul>
		<p class="right">Contact | Privacy</p>
	</div>
</div>
<div id="myModal" class="reveal-modal">
     <h2>Request Communication</h2>
     <p>Submit a request to see Ichigo's Contact Information</p>
     <div class="floatleft">
     	<img src="http://placehold.it/75">
     	<h3>Ichigo Smith</h3>
     </div>
     <div class="floatleft">
     	<p>Reason for Request - Optional</p>
			<div class="input"><label></label>
			  <select name="normalSelect" id="normalSelect">
			    <option>Degree Type</option>
			    <option>1</option>
			    <option>2</option>
			    <option>3</option>
			    <option>4</option>
			  </select>
			</div>
	<a href="" class="wcbutton">Request Communication</a>
	<a href="" class="wcbutton close-reveal-modal">Cancel</a>
     </div>
     
<!--     <p> Thank you! We will review your request.</p><a href="" class="wcbutton close-reveal-modal">Close</a>-->
<!--     <a class="close-reveal-modal">&#215;</a>-->
</div>
</body>

</html>