<%= provide(:title, 'Admin Panel | Newsletter') %>

	<div id="adminqueue">
		<div>
			<h2>Newsletters</h2>
			<p class="line2">View previous and post new newsletters</p>
		</div>
		<div id="newsletter">
			<h3>Post Newsletter</span></h3>
				<ul>
					<li><label>Title</label><br/> 
						<input type="text" maxlength="1000"></li>
					<li><label>Content</label> <br/>
						<textarea cols="20" rows="10" ></textarea></li>
				</ul>
			<a href="" class="wcbutton">Publish</a>
		</div>
		<div class="floatleft">
			<h3>Newsletter <span>- 17 Minutes ago</span></h3>
			<p>Bob Costas nails it here, and as the opening reference to Kim Kardashian suggests, his comments apply to much more than the adolescent self-adulation of athletes. For me, washed-up has-been wanna-be athlete and former coach that I am, the key question was: “Where are the coaches in all of this?” </p>
			<p>When I played (donkey’s years ago in the amateur leagues of small town high school athletics), almost anything resembling “flash” got you benched in, well, a flash. Cost a team some points or a penalty and you’d be riding the pine for a long while. Not only would you be benched during the game, but the next day’s practice would feature a major in-your-face post-coffee grilling and a lot of extra running (appropriately dubbed “suicides”). I guess those days went the way of dinosaurs when contracts and egos grew bigger than team and character. Enough rambling of my own. Enjoy two minutes of brilliant Costas commentary:</p>
			<a href="" class="wcbutton">Accept</a> <a href="" class="wcbutton">Reject</a>
		</div>
		<div class="floatleft">
			<h3>Newsletter <span>- 17 Minutes ago</span></h3>
			<p>Bob Costas nails it here, and as the opening reference to Kim Kardashian suggests, his comments apply to much more than the adolescent self-adulation of athletes. For me, washed-up has-been wanna-be athlete and former coach that I am, the key question was: “Where are the coaches in all of this?” </p>
			<p>When I played (donkey’s years ago in the amateur leagues of small town high school athletics), almost anything resembling “flash” got you benched in, well, a flash. Cost a team some points or a penalty and you’d be riding the pine for a long while. Not only would you be benched during the game, but the next day’s practice would feature a major in-your-face post-coffee grilling and a lot of extra running (appropriately dubbed “suicides”). I guess those days went the way of dinosaurs when contracts and egos grew bigger than team and character. Enough rambling of my own. Enjoy two minutes of brilliant Costas commentary:</p>
			<a href="" class="wcbutton">Accept</a> <a href="" class="wcbutton">Reject</a>
		</div>
		
		
	</div>