<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>Westmont Connect | A Community for Life</title>
</head>
<body>

<!-- START HEADER SECTION -->
	<div id="header">
		<div id="top_nav">
			<div class="wrapper">
				<!--<div id="choice">
					<ul>
						<li><span>5</span>Jobs</li>
						<li><span>3</span>Notifications</li>
						<li><img src="images/circle.png" alt="circle" width="16" height="16" />Profile</li>
					</ul>
				</div> --><!-- div choice closed -->
				<div id="name">
					<h1><img src="../assets/circle.png" alt="circle" width="16" height="16" />Jon B. Doe</h1>
				</div> <!-- div name closed -->
			</div> <!-- CLOSE WRAPPER -->
		</div> <!-- div top_nav closed -->
		
		<div id="bottom_nav" >
			<div class="wrapper">
				<div id="logo">
					<img src="../assets/logo_auth.png" alt="Westmont Connect Logo Image" />
				</div> <!-- div logo closed -->
							</div> <!-- CLOSE WRAPPER -->
		</div> <!-- div bottom_nav closed -->
	</div> <!-- div header closed -->
	
<!-- END HEADER SECTION -->
<!-- START MAIN CONTENT  -->
<div id="content">
	<div id="queue_nav">
		<ul>
			<li><a href="">Queue</a></li>
			<li><a href="search">Users</a></li>
			<li><a href="">Newsletters</a></li>
		</ul>	
	</div><!--close notifications-->
	<div id="adminqueue">
		<div class="admin_story">
			<div class="floatleft_avatar">
				<img src="http://placehold.it/75">
			</div>
			<div class="floatleft">
				<h3>Zake Dent posted a short story <span>- 17 Minutes ago</span></h3>
				<p>Bob Costas nails it here, and as the opening reference to Kim Kardashian suggests, his comments apply to much more than the adolescent self-adulation of athletes. For me, washed-up has-been wanna-be athlete and former coach that I am, the key question was: “Where are the coaches in all of this?” </p>
				<p>When I played (donkey’s years ago in the amateur leagues of small town high school athletics), almost anything resembling “flash” got you benched in, well, a flash. Cost a team some points or a penalty and you’d be riding the pine for a long while. Not only would you be benched during the game, but the next day’s practice would feature a major in-your-face post-coffee grilling and a lot of extra running (appropriately dubbed “suicides”). I guess those days went the way of dinosaurs when contracts and egos grew bigger than team and character. Enough rambling of my own. Enjoy two minutes of brilliant Costas commentary:</p>
				<a href="" class="wcbutton">Accept</a> <a href="" class="wcbutton">Reject</a>
			</div>
		</div>
		<div class="admin_story">
			<div class="floatleft_avatar">
				<img src="http://placehold.it/75">
			</div>
			<div class="floatleft">
				<h3>Sally changed her name <span>- 17 Minutes ago</span></h3>
				<p>She requested her name be changed to Sally Smith</p>
				<a href="" class="wcbutton">Accept</a> <a href="" class="wcbutton">Reject</a>
			</div>
		</div>
		<div class="admin_story">
			<div class="floatleft_avatar">
				<img src="http://placehold.it/75">
			</div>
			<div class="floatleft">
				<h3>Zake Dent posted a short story <span>- 17 Minutes ago</span></h3>
				<p>Bob Costas nails it here, and as the opening reference to Kim Kardashian suggests, his comments apply to much more than the adolescent self-adulation of athletes. For me, washed-up has-been wanna-be athlete and former coach that I am, the key question was: “Where are the coaches in all of this?” </p>
				<p>When I played (donkey’s years ago in the amateur leagues of small town high school athletics), almost anything resembling “flash” got you benched in, well, a flash. Cost a team some points or a penalty and you’d be riding the pine for a long while. Not only would you be benched during the game, but the next day’s practice would feature a major in-your-face post-coffee grilling and a lot of extra running (appropriately dubbed “suicides”). I guess those days went the way of dinosaurs when contracts and egos grew bigger than team and character. Enough rambling of my own. Enjoy two minutes of brilliant Costas commentary:</p>
				<a href="" class="wcbutton">Accept</a> <a href="" class="wcbutton">Reject</a>
			</div>
		</div>
	</div>

		
</div> <!-- div content closed -->
<div id="footer">
	<div class="wrapper">
		<p>Copyright 2011. Westmont College. All rights reserved.</p>
		<ul id="social">
		<li id="linked-in"><a href="http://www.linkedin.com"><span>LinkedIn</span></a></li>
		<li id="facebook"><a href="http://www.facebook.com"><span>Facebook</span></a></li>
		<li id="twitter"><a href="http://www.twitter.com"><span>Twitter</span></a></li>
		<li id="youtube"><a href="http://www.youtube.com"><span>YouTube</span></a></li>
		</ul>
		<p class="right">Contact | Privacy</p>
	</div>
</div>
<div id="myModal" class="reveal-modal">
     <h2>Request Communication</h2>
     <p>Submit a request to see Ichigo's Contact Information</p>
     <div class="floatleft">
     	<img src="http://placehold.it/75">
     	<h3>Ichigo Smith</h3>
     </div>
     <div class="floatleft">
     	<p>Reason for Request - Optional</p>
			<div class="input"><label></label>
			  <select name="normalSelect" id="normalSelect">
			    <option>Degree Type</option>
			    <option>1</option>
			    <option>2</option>
			    <option>3</option>
			    <option>4</option>
			  </select>
			</div>
	<a href="" class="wcbutton">Request Communication</a>
	<a href="" class="wcbutton close-reveal-modal">Cancel</a>
     </div>
     
<!--     <p> Thank you! We will review your request.</p><a href="" class="wcbutton close-reveal-modal">Close</a>-->
<!--     <a class="close-reveal-modal">&#215;</a>-->
</div>
</body>

</html>