<%= provide(:title, 'Admin Panel | Queue') %>
	<div id="adminqueue">
		<div class="admin_story">
			<div class="floatleft_avatar">
				<img src="http://placehold.it/75">
			</div>
			<div class="floatleft">
				<h3>Zake Dent posted a short story <span>- 17 Minutes ago</span></h3>
				<p>Bob Costas nails it here, and as the opening reference to Kim Kardashian suggests, his comments apply to much more than the adolescent self-adulation of athletes. For me, washed-up has-been wanna-be athlete and former coach that I am, the key question was: “Where are the coaches in all of this?” </p>
				<p>When I played (donkey’s years ago in the amateur leagues of small town high school athletics), almost anything resembling “flash” got you benched in, well, a flash. Cost a team some points or a penalty and you’d be riding the pine for a long while. Not only would you be benched during the game, but the next day’s practice would feature a major in-your-face post-coffee grilling and a lot of extra running (appropriately dubbed “suicides”). I guess those days went the way of dinosaurs when contracts and egos grew bigger than team and character. Enough rambling of my own. Enjoy two minutes of brilliant Costas commentary:</p>
				<a href="" class="wcbutton">Accept</a> <a href="" class="wcbutton">Reject</a>
			</div>
		</div>
		<div class="admin_story">
			<div class="floatleft_avatar">
				<img src="http://placehold.it/75">
			</div>
			<div class="floatleft">
				<h3>Sally changed her name <span>- 17 Minutes ago</span></h3>
				<p>She requested her name be changed to Sally Smith</p>
				<a href="" class="wcbutton">Accept</a> <a href="" class="wcbutton">Reject</a>
			</div>
		</div>
		<div class="admin_story">
			<div class="floatleft_avatar">
				<img src="http://placehold.it/75">
			</div>
			<div class="floatleft">
				<h3>Zake Dent posted a short story <span>- 17 Minutes ago</span></h3>
				<p>Bob Costas nails it here, and as the opening reference to Kim Kardashian suggests, his comments apply to much more than the adolescent self-adulation of athletes. For me, washed-up has-been wanna-be athlete and former coach that I am, the key question was: “Where are the coaches in all of this?” </p>
				<p>When I played (donkey’s years ago in the amateur leagues of small town high school athletics), almost anything resembling “flash” got you benched in, well, a flash. Cost a team some points or a penalty and you’d be riding the pine for a long while. Not only would you be benched during the game, but the next day’s practice would feature a major in-your-face post-coffee grilling and a lot of extra running (appropriately dubbed “suicides”). I guess those days went the way of dinosaurs when contracts and egos grew bigger than team and character. Enough rambling of my own. Enjoy two minutes of brilliant Costas commentary:</p>
				<a href="" class="wcbutton">Accept</a> <a href="" class="wcbutton">Reject</a>
			</div>
		</div>
	</div>