<%= provide(:title, 'Admin Panel | Search') %>
	<div id="adminqueue">
		<div>
			<h2>Users</h2>
			<p class="line2">You can search for users to edit content, ban user, or announce the user has passed away.</p>
			<input type="text" maxlength="1000" class="special_text3"><a href="searchresults" class="wcbutton">Search</a>
			<a href="" class="wcbutton">Show All Alumni</a>
		</div>
		<div>
			<h3>Filter By Location</h3>
			<form>
				<fieldset>
					<ol>
						<li><input type="text" maxlength="500" placeholder="City"/></li>
						<li><input type="text" maxlength="500" placeholder="State/Providence"/></li>
						<li><input type="text" maxlength="500" placeholder="Zip"/></li>
					</ol>
				</fieldset>
			</form>
		</div>
		<div>
			<h3>Filter by Education</h3>
			<form>
				<fieldset>
					<ol>
						<li><div class="input"><label></label>
						  <select name="normalSelect" id="normalSelect">
						    <option>Degree Type</option>
						    <option>1</option>
						    <option>2</option>
						    <option>3</option>
						    <option>4</option>
						  </select>
						</div>
						</li>
						<li><div class="input"><label></label>
						  <select name="normalSelect" id="normalSelect">
						    <option>Major</option>
						    <option>1</option>
						    <option>2</option>
						    <option>3</option>
						    <option>4</option>
						  </select>
						</div>
						</li>
						<li><input type="text" maxlength="500" placeholder="Department"/></li>
						<li><input type="text" maxlength="500" placeholder="e.g. 2011 or 1995-2011"/></li>
					</ol>
				</fieldset>
			</form>
		</div>
		<a href="" class="wcbutton">Search</a>
	</div>
</div>