<!DOCTYPE html>
<html>
<body>

<!-- START HEADER SECTION -->
	<div id="header">
		<div id="top_nav">
			<div class="wrapper">
				<!--<div id="choice">
					<ul>
						<li><span>5</span>Jobs</li>
						<li><span>3</span>Notifications</li>
						<li><img src="images/circle.png" alt="circle" width="16" height="16" />Profile</li>
					</ul>
				</div> --><!-- div choice closed -->
				<div id="name">
					<h1><img src="../assets/circle.png" alt="circle" width="16" height="16" />Jon B. Doe</h1>
				</div> <!-- div name closed -->
			</div> <!-- CLOSE WRAPPER -->
		</div> <!-- div top_nav closed -->
		
		<div id="bottom_nav" >
			<div class="wrapper">
				<div id="logo">
					<img src="../assets/logo_auth.png" alt="Westmont Connect Logo Image" />
				</div> <!-- div logo closed -->
							</div> <!-- CLOSE WRAPPER -->
		</div> <!-- div bottom_nav closed -->
	</div> <!-- div header closed -->
	
<!-- END HEADER SECTION -->
<!-- START MAIN CONTENT  -->
<div id="content">
	<div id="queue_nav">
		<ul>
			<li><a href="">Queue</a></li>
			<li><a href="">Users</a></li>
			<li><a href="">Newsletters</a></li>
		</ul>	
	</div><!--close notifications-->
	<div id="adminqueue">
		<div>
			<h2>Users</h2>
			<p class="line2">You can search for users to edit content, ban user, or announce the user has passed away.</p>
			<input type="text" maxlength="1000" class="special_text3"><a href="searchresults" class="wcbutton">Search</a>
			<a href="" class="wcbutton">Show All Alumni</a>
		</div>
		<div>
			<h3>Filter By Location</h3>
			<form>
				<fieldset>
					<ol>
						<li><input type="text" maxlength="500" placeholder="City"/></li>
						<li><input type="text" maxlength="500" placeholder="State/Providence"/></li>
						<li><input type="text" maxlength="500" placeholder="Zip"/></li>
					</ol>
				</fieldset>
			</form>
		</div>
		<div>
			<h3>Filter by Education</h3>
			<form>
				<fieldset>
					<ol>
						<li><div class="input"><label></label>
						  <select name="normalSelect" id="normalSelect">
						    <option>Degree Type</option>
						    <option>1</option>
						    <option>2</option>
						    <option>3</option>
						    <option>4</option>
						  </select>
						</div>
						</li>
						<li><div class="input"><label></label>
						  <select name="normalSelect" id="normalSelect">
						    <option>Major</option>
						    <option>1</option>
						    <option>2</option>
						    <option>3</option>
						    <option>4</option>
						  </select>
						</div>
						</li>
						<li><input type="text" maxlength="500" placeholder="Department"/></li>
						<li><input type="text" maxlength="500" placeholder="e.g. 2011 or 1995-2011"/></li>
					</ol>
				</fieldset>
			</form>
		</div>
		<a href="" class="wcbutton">Search</a>
	</div>
</div> <!-- div content closed -->
<div id="footer">
	<div class="wrapper">
		<p>Copyright 2011. Westmont College. All rights reserved.</p>
		<ul id="social">
		<li id="linked-in"><a href="http://www.linkedin.com"><span>LinkedIn</span></a></li>
		<li id="facebook"><a href="http://www.facebook.com"><span>Facebook</span></a></li>
		<li id="twitter"><a href="http://www.twitter.com"><span>Twitter</span></a></li>
		<li id="youtube"><a href="http://www.youtube.com"><span>YouTube</span></a></li>
		</ul>
		<p class="right">Contact | Privacy</p>
	</div>
</div>
<div id="myModal" class="reveal-modal">
     <h2>Request Communication</h2>
     <p>Submit a request to see Ichigo's Contact Information</p>
     <div class="floatleft">
     	<img src="http://placehold.it/75">
     	<h3>Ichigo Smith</h3>
     </div>
     <div class="floatleft">
     	<p>Reason for Request - Optional</p>
			<div class="input"><label></label>
			  <select name="normalSelect" id="normalSelect">
			    <option>Degree Type</option>
			    <option>1</option>
			    <option>2</option>
			    <option>3</option>
			    <option>4</option>
			  </select>
			</div>
	<a href="" class="wcbutton">Request Communication</a>
	<a href="" class="wcbutton close-reveal-modal">Cancel</a>
     </div>
     
<!--     <p> Thank you! We will review your request.</p><a href="" class="wcbutton close-reveal-modal">Close</a>-->
<!--     <a class="close-reveal-modal">&#215;</a>-->
</div>
</body>

</html>