	<div id="header">
		<div id="top_nav">
			<div class="wrapper">
				<!--<div id="choice">
					<ul>
						<li><span>5</span>Jobs</li>
						<li><span>3</span>Notifications</li>
						<li><img src="../assets/circle.png" alt="circle" width="16" height="16" />Profile</li>
					</ul>
				</div> --><!-- div choice closed -->
				<div id="name">
					<h1><img src="../assets/circle.png" alt="circle" width="16" height="16" />Jon B. Doe</h1>
				</div> <!-- div name closed -->
			</div> <!-- CLOSE WRAPPER -->
		</div> <!-- div top_nav closed -->
		
		<div id="bottom_nav" >
			<div class="wrapper">
				<div id="logo">
					<img src="../assets/logo_auth.png" alt="Westmont Connect Logo Image" />
				</div> <!-- div logo closed -->
							</div> <!-- CLOSE WRAPPER -->
		</div> <!-- div bottom_nav closed -->
	</div> <!-- div header closed -->
	